#signOutButton{

  float: right;
  display: block;
}

#signOutDisplay
{
  position:relative;
  margin: auto;
  z-index: 500;


}

#output
{
  color: red;
}

body
{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}


label{
  margin-right: 5px;
}

#transactionBody{
  max-height: 250px;
  overflow-y: scroll;
}

.myAccountBtn{
  margin-bottom: 5px;
  margin-left: 5px;
}


#customerName{
  padding-left: 40px;
  color: white;
}
